 
.progress-container {
    width: 100%;
    height: 3px;
    background: transparent;
    position: fixed;
    top: 67px;
    z-index: 100;
    left:0;
  }
  
  .progress-bar {
    height: 3px;
    background: #2c60ef;
    width: 0%;
  }