.countUp{
    background-image: url("../../assets/images/bg-count.jpg"), linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
    background-blend-mode: overlay;
    background-attachment: fixed;
    background-size: cover;
    position: relative;
}




